<div class="module-class">From Controller</div>
<div class="">Project Overview From controller - ProjectOverview.php - project-overview.html.twig</div>

<a href="/admin/reports/fields">Field Report</a>
{# display project overview information (version) #}
<div class="project-overview-info">
  <h2>Project Overview</h2>
  <p>Version: {{ project_version }}</p>
</div>
